<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="box-shadow: none;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/bruce.png');"></div>
                <h3 style="color: #000; font-size: 1.5em;"><a class="">Bruce Wayne</a></h3>
                <h4 style="color: #666; font-size: 0.9em;">minhas contratações (10)</h4>
            </div>
        </div>
        <div class="padding">
            <button ui-sref="app.historico" class="button button-full ink bg-azul-vigio font-comfortaa" style="border-radius: 25px;">Histórico</button>
            <button ui-sref="app.vigilantes" class="button button-full ink bg-azul-vigio font-comfortaa" style="border-radius: 25px;">Vigilantes</button>
            <button ui-sref="app.contratar" class="button button-full ink bg-azul-vigio font-comfortaa" style="border-radius: 25px;">Contratar</button>
        </div>
    </ion-content>
</ion-view>
