<ion-view view-title="Login" align-title="left">
    <ion-content>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="list">
            <!-- <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input> -->
            <label class="item item-input">
                <input type="text" placeholder="Usuário">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Senha">
            </label>
        </div>
        <div class="padding">
            <button ui-sref="app.home" class="button button-full ink bg-azul-vigio" style="border-radius: 25px;">Login</button>
        </div>
        
    </ion-content>
</ion-view>
